# LangChain Core
langchain
langchain-core
langchain-community
#groq
langchain-groq

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

torch==2.3.1
torchvision==0.18.1

streamlit
langchain
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
torch
google-generativeai
python-dotenv
beautifulsoup4
lxml
requests
